* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*---------------- Uitilites/Common styles -----------------*/



/*-----------------------------------------------------------
                    Header section
-------------------------------------------------------------*/


/*-----------------------------------------------------------
                    Main section
-------------------------------------------------------------*/


/*-----------------------------------------------------------
                    Footer section
-------------------------------------------------------------*/


/*-----------------------------------------------------------
-------------------   Midea Quries   ------------------------
-------------------------------------------------------------*/


